 // llamar archivos partials
 @import "reset";
 @import "variables";

/*MENU HAMBURGUESA*/
header {
    .container-fluid {
        .navbar {
            .container-fluid {
               .collapse{
                    .navbar-nav{
                        .formato{
                            font-family: $font-fa;
                            font-size: 14px;
                            font-weight: bold;
                            .dropdown-menu {
                                .formato2
                                 {
                                    font-family: $font-fa;
                                    font-size: 12.5px;
                                 }
                            }
                        }
                    }
                }
            }
        }
    }
    .banner-envio {
        text-align:center;
        background-color:$color-env;
        height: 40px;
        .info-envio {
            width: 60%;
        }
    }
}

main{
    .prod-destacados{
        font-size: 32px;
        letter-spacing: 1.3px;
        text-align: center;
        font-family: $font-fa;
        padding: 1rem;
        &:hover {
            text-shadow: -2px -2px 10px #fff,
            2px 2px 10px #fff,
            0 0 20px #D2DE32,
            0 0 40px #D2DE32,
            0 0 60px #D2DE32,
            0 0 80px #D2DE32,
            0 0 100px #D2DE32;

            box-shadow: 0 0 5px #fff,
            inset 0 0 5px #fff,
            0 0 20px #08f,
            inset 0 0 20px #08f,
            0 0 40px #08f,
            inset 0 0 40px #08f,
            }
        }

    .products-grid {
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        row-gap: 10px;
        .product-wrapper {
            position: relative;
            .product-items {
                display: flex;
                flex-direction: column;
                align-items: center;
                position: relative;
                overflow: hidden;
                width: 200px;
                height: 300px;
                border-radius: 16px;
                overflow: hidden;
                box-shadow: 0 5px 18px rgba(0, 0, 0, 0.6);
                cursor: pointer;
                transition: 0.5s;
                &:hover{
                    opacity: 0.4;
                    transition: .5s;
                    transform: translateY(-104px);
                    transition: all .9s;
                    transition-delay: 0.1s;
                    opacity: 0.9;
                    align-content: center;
                    transition-delay: 0.1s;
                    transition-delay: 0.2s;
                    transition-delay: 0.3s;
                    transition-delay: 0.4s;
                    background-color: #fff;
                    }
                #img-corazon{
                    display: none;
                    }
                .product-item-image {
                    a{
                        img{
                            height: 100%;
                            width: 100%;
                            object-fit:fill;
                            opacity: 0.4;
                            transition: .5s; 
                        }
                    }
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    width: 100%;
                    height: 100%;
                    z-index: 2;
                    background-color: var(--background);
                    transition: .5s;
                    transform: translateY(-104px);
                    transition: all .9s;
                    #img-corazon{
                        display: none;
                        }
                    }
                .product-item-info{
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    z-index: 3;
                    background: var(--background);
                    width: 100%;
                    height: 104px;
                    padding: 16px;
                    z-index: 1;
                    color: #333;
                    text-align: center;
                    background-color: #fff;
                    opacity: 0.9;
                    align-content: center;

                    h2{
                        margin-bottom: 6px;
                        font-size: 18px;
                    }
                    .item-info-bio {
                        opacity: 0.9;
                        align-content: center;
                        color: darkblue;
                        margin: 0%;
                        h3{
                            font-size: 13.3px;
                            color: darkblue;
                            margin: 0%;
                            }
                        #item-info-sku {
                            font-size: 10.5px;
                            color: darkslateblue;
                            margin: 0%; 
                            }
                        }
                    }
                 }
            }
        }
    
    hr {
        border-top: 3px solid rgb(162,210,255);
        height: 2px;
        max-width: 100%;
        margin: 1em;
        }
    .outlet{
        width: 440px;
    }
    .carousel {
        .carousel-inner {
            .carousel-item active {
                .card{
                    width: 350px;
                    justify-self: center;
                    margin: 3rem;
                    }
            }
            .carousel-item{
                .card{
                    width: 350px;
                    justify-self: center;
                    margin: 3rem;
                }
            }
        }
    }
}

/*page moda_dama*/

@import "moda-dama";

/*page conversemos*/

@import "conversemos";

/*page gtallas*/

@import "gtallas";